<div class="dashboard-header">
  <nav class="navbar navbar-expand-lg">
    <div id="topElements">
      <div class="fixed-top d-flex pt-3">
        <a class="navbar-brand" href="#">
          <img
            src="./../../../../assets/logo/lorem-lorem-1.svg"
            alt="logo"
            width="50"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-right-top">
            <li class="nav-item dropdown notification">
              <a
                class="nav-link nav-icons"
                href="#"
                id="navbarDropdownMenuLink1"
                data-bs-toggle="dropdown"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ><i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                <!-- <span class="indicator"> </span> -->
              </a>
              <ul
                class="dropdown-menu dropdown-menu-left notification-dropdown"
              >
                <li>
                  <div class="notification-title">Notification</div>
                  <div class="notification-list">
                    <div class="list-group">
                      <a
                        href="#"
                        class="list-group-item list-group-item-action active"
                      >
                        <div class="notification-info">
                          <div class="notification-list-user-img">
                            <img
                              src="https://img.icons8.com/office/100/000000/administrator-female.png"
                              alt=""
                              class="user-avatar-md rounded-circle"
                            />
                          </div>
                          <div class="notification-list-user-block">
                            <span class="notification-list-user-name"
                              >Jeremy Hukonah</span
                            >accepted your invitation to join the team.
                            <div class="notification-date">2 min ago</div>
                          </div>
                        </div>
                      </a>
                      <a
                        href="#"
                        class="list-group-item list-group-item-action"
                      >
                        <div class="notification-info">
                          <div class="notification-list-user-img">
                            <img
                              src="https://img.icons8.com/color/48/000000/administrator-female.png"
                              alt=""
                              class="user-avatar-md rounded-circle"
                            />
                          </div>
                          <div class="notification-list-user-block">
                            <span class="notification-list-user-name"
                              >John Sammy</span
                            >updated the email address
                            <div class="notification-date">2 days ago</div>
                          </div>
                        </div>
                      </a>
                      <a
                        href="#"
                        class="list-group-item list-group-item-action"
                      >
                        <div class="notification-info">
                          <div class="notification-list-user-img">
                            <img
                              src="https://img.icons8.com/color/100/000000/name.png"
                              alt=""
                              class="user-avatar-md rounded-circle"
                            />
                          </div>
                          <div class="notification-list-user-block">
                            <span class="notification-list-user-name"
                              >Kioh Samso</span
                            >
                            is watching your main repository
                            <div class="notification-date">2 min ago</div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-footer">
                    <a href="#">View all notifications</a>
                  </div>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown-center notification">
              <a
                class="nav-link"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-fw fa-envelope"></i>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-right notification-dropdown"
              >
                <li>
                  <div class="notification-title">Messages</div>
                  <div class="notification-list">
                    <div class="list-group">
                      <a
                        href="#"
                        class="list-group-item list-group-item-action active"
                      >
                        <div class="notification-info">
                          <div class="notification-list-user-img">
                            <img
                              src="https://img.icons8.com/office/100/000000/administrator-female.png"
                              alt=""
                              class="user-avatar-md rounded-circle"
                            />
                          </div>
                          <div class="notification-list-user-block">
                            <span class="notification-list-user-name"
                              >Jeremy Hukonah</span
                            >accepted your invitation to join the team.
                            <div class="notification-date">2 min ago</div>
                          </div>
                        </div>
                      </a>
                      <a
                        href="#"
                        class="list-group-item list-group-item-action"
                      >
                        <div class="notification-info">
                          <div class="notification-list-user-img">
                            <img
                              src="https://img.icons8.com/color/48/000000/administrator-female.png"
                              alt=""
                              class="user-avatar-md rounded-circle"
                            />
                          </div>
                          <div class="notification-list-user-block">
                            <span class="notification-list-user-name"
                              >John Sammy</span
                            >updated the email address
                            <div class="notification-date">2 days ago</div>
                          </div>
                        </div>
                      </a>
                      <a
                        href="#"
                        class="list-group-item list-group-item-action"
                      >
                        <div class="notification-info">
                          <div class="notification-list-user-img">
                            <img
                              src="https://img.icons8.com/color/100/000000/name.png"
                              alt=""
                              class="user-avatar-md rounded-circle"
                            />
                          </div>
                          <div class="notification-list-user-block">
                            <span class="notification-list-user-name"
                              >Kioh Samso</span
                            >
                            is watching your main repository
                            <div class="notification-date">2 min ago</div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="conntection-footer"><a href="#">More</a></div>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown nav-user">
              <a
                class="nav-link nav-user-img"
                href="#"
                id="navbarDropdownMenuLink2"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ><img
                  src="https://img.icons8.com/dusk/100/000000/user-female-circle.png"
                  alt=""
                  class="user-avatar-md rounded-circle"
              /></a>
              <div
                class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                aria-labelledby="navbarDropdownMenuLink2"
              >
                <div class="nav-user-info">
                  <h5 class="mb-0 text-white nav-user-name">Tikoha Samga</h5>
                  <span class="status"></span
                  ><span class="ml-2">Available</span>
                </div>
                <a class="dropdown-item" href="#"
                  ><i class="fa fa-user me-2"></i>Account</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="fa fa-cog me-2"></i>Setting</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="fa fa-power-off me-2"></i>Logout</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      id="pagesTabs"
      class="px-3 bottomElements d-flex justify-content-between align-items-center"
    >
      <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav col-6">
        <li class="nav-item col-3" [routerLinkActive]="['activeRoute']">
          <a
            class="nav-link py-2 px-0 px-lg-2 col-6"
            [routerLink]="['/home/dashboard']"
            >DASHBOARD</a
          >
        </li>
        <li class="nav-item col-3" [routerLinkActive]="['activeRoute']">
          <a
            class="nav-link py-2 px-0 px-lg-2 col-6"
            aria-current="true"
            [routerLink]="['/home/profiles']"
            >PROFILES</a
          >
        </li>
        <li class="nav-item col-3" [routerLinkActive]="['activeRoute']">
          <a
            class="nav-link py-2 px-0 px-lg-2 col-6"
            [routerLink]="['/home/trainings']"
            >TRAININGS</a
          >
        </li>
      </ul>

      <div class="userHello">
        <p>Good morning, Ryan</p>
      </div>
    </div>
  </nav>
</div>
